@use "base" as *;

.header-wrap {
  width: 100%;
  height: 10vh;
  background-color: $primary_color;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4%;
  @include display_md {
    padding: 0 2%;
  }
  // &__title {
  //   font-size: clamp(3rem, 6.8vw, 3.6rem);
  //   color: $white;
  //   letter-spacing: 0.2rem;
  //   @include display_md {
  //     font-size: clamp(2.6rem, 3.4vw, 3.6rem);
  //   }
  // }
}

.header-titles {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.6rem;
  &__site-name {
    font-size: clamp(3rem, 6.8vw, 3.4rem);
    color: $white;
    line-height: 3rem;
    letter-spacing: 0.2rem;
    @include display_md {
      font-size: clamp(2.6rem, 3.4vw, 3.4rem);
    }
  }
  &__site-description {
    font-size: clamp(0.9rem, 2vw, 1rem);
    font-weight: normal;
    color: $white;
    white-space: nowrap;
    @include display_md {
      font-size: clamp(0.9rem, 1vw, 1.2rem);
    }
  }
}